<%- include("partials/header"); -%>

    <h1>Delete Post</h1>
    <h2>Are you sure you want to delete this post?</h2>
    <p>Title:
        <%= post.title %>
    </p>
    <p>Content:
        <%= post.content %>
    </p>
    <form action="/posts/<%= post._id %>/delete" method="POST">
        <button type="submit">Delete Post</button>
    </form>

    <%- include("partials/footer"); -%>